@using Hrm.Web.Models.Menu
@model LeftMenuItems

@{
    var profile = Model == LeftMenuItems.MyProfile ? "active" : string.Empty;
    var skillMatrix = Model == LeftMenuItems.SkillMatrix ? "active" : string.Empty;
    var searchJob = Model == LeftMenuItems.SearchJob ? "active" : string.Empty;
}

<div class="span2">
    <!--Sidebar content-->
    <ul class="nav nav-list well">
        
        <li class="nav-header">Menu</li>

        <li title="My Profie" class="@profile">@Html.ActionLink("My Profile", "Index","Profile")</li>
        <li title="My Skill Matrix" class="@skillMatrix">@Html.ActionLink("My Skills", "Index","MySkills")</li>
        <li title="Search Job" class="@searchJob">@Html.ActionLink("Search Job", "Index","SearchJob")</li>
    </ul>
</div>

        
   