
@model Hrm.Web.Models.SelectionResult.ReportModel
@{
    Layout = null;
}
<itext creationdate="@DateTime.Now.ToString()" producer="RazorPDF">
    
    <paragraph style="font-family:Helvetica;font-size:18;font-style:italic;">
        <chunk style="font-family:Times;font-weight:bold;">Project: </chunk>
        <chunk style="font-family:Times;font-weight:bold;">@Model.Title</chunk> 
    </paragraph>
    <newline />
    <paragraph style="font-family:Helvetica;font-size:18;font-style:italic;">
        <chunk style="font-family:Times;font-weight:bold;">Description: </chunk>
        <chunk style="font-family:Times;font-weight:bold;">@Model.Description</chunk>
    </paragraph>
    <newline />
    <paragraph style="font-family:Helvetica;font-size:18;font-style:italic;">
        <chunk style="font-family:Times;font-weight:bold;">Command: </chunk>
        <chunk style="font-family:Times;font-weight:bold;">@Model.CommandAmount </chunk>
    </paragraph>
    <newline />
    <paragraph>
        <chunk style="font-family:Times;font-weight:bold;">Report Date: </chunk>
        <chunk style="font-family:Times;">@DateTime.Now.ToString("MM/dd/yyyy")</chunk>
    </paragraph>
    <paragraph>
        <chunk style="font-family:Times;font-weight:bold;">Report Time: </chunk>
        <chunk style="font-family:Times;">@DateTime.Now.ToString("hh:mm tt")</chunk>
    </paragraph>
    <newline />
    <newline />
    <paragraph>
        <chunk style="font-family:Times;font-weight:bold;">Project Jobs: </chunk>
    </paragraph>
    <newline />
    @foreach (var job in Model.Jobs)
    {
         <paragraph>
            <chunk style="font-family:Times;font-weight:bold;">Job Title: </chunk>
            <chunk style="font-family:Times;">@job.Title</chunk>
        </paragraph>
        <paragraph>
            <chunk style="font-family:Times;font-weight:bold;">Job Description: </chunk>
            <chunk style="font-family:Times;">@job.Description</chunk>
        </paragraph>
        <paragraph>
            <chunk style="font-family:Times;font-weight:bold;">Salary: </chunk>
            <chunk style="font-family:Times;">@job.Salary</chunk>
        </paragraph>
        <paragraph>
            <chunk style="font-family:Times;font-weight:bold;">Department: </chunk>
            <chunk style="font-family:Times;">@job.Department</chunk>
        </paragraph>
        <paragraph>
            <chunk style="font-family:Times;font-weight:bold;">Candidates: </chunk>
        </paragraph>
        
        <table width="100%" cellpadding="1.0" cellspacing="1.0"  widths="1;1;1;1;1;1;">
            <row>
	            <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true">Last Name</cell>
	            <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true">First Name</cell>
	            <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true">Middle Name</cell>
                <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true">Percent Match Job Profile</cell>
                <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true">Tests Completed</cell>
                <cell borderwidth="0.5" left="false" right="false" top="false" bottom="true">Phone Number</cell>
            </row>
            @foreach (var candidate in job.Candidates.OrderByDescending(o=>o.PercentMatchJobProfile))
            {
            <row>
	            <cell>@candidate.LastName</cell>
	            <cell>@candidate.FirstName</cell>
	            <cell>@candidate.MiddleName</cell>
                <cell>@candidate.PercentMatchJobProfile</cell>
                <cell>@candidate.TestsCompleted</cell>
                <cell>@candidate.PhoneNumber</cell>
            </row>
            }
            <row>
                <cell borderwidth="0.5" left="false" right="false" top="true" bottom="false" colspan="5" horizontalalign="right">Count</cell>
                <cell borderwidth="0.5" left="false" right="false" top="true" bottom="false" horizontalalign="right">@job.Candidates.Count</cell>
            </row>
        </table>
    }

    


</itext>