@model Hrm.Data.EF.Models.Test



<span id="testId" name='@Model.Id' class="label label-success">Тест №@Model.Id</span>
<!-- Here's started editing -->
<div id="NameDescDivShow" class="alert alert-info">
    <strong>Название: </strong><span id="NameSpan">@Model.Name</span>
    <br />
    <strong>Описание: </strong><span id="DescSpan">@Model.Description</span>
    <br />
    <br />
    <div class="btn btn-mini" onclick="NameDescEdit()">
        Редактировать</div>
</div>
<div id="NameDescDivEdit" class="alert alert-info hide">
    <strong>Название: </strong>@Html.TextBoxFor(model => model.Name)<span id="NameValidError"
        class="validation-star hide">*</span>
    <br />
    <strong>Описание: </strong>@Html.TextBoxFor(model => model.Description)<span id="DescValidError"
        class="validation-star hide">*</span>
    <br />
    <div class="btn btn-mini" onclick="NameDescSave()">
        Сохранить</div>
</div>
<br />

<div id="accordion">
    
    @{
        int qindex = 1;
        foreach (var question in Model.Questions)
        {
            <div class="accordion-group alert alert-info" id='@question.Id'>
            
                @*<div class="alert alert-info" id='@question.Id' >*@
                    
                    <!-- Accordion heading -->
                    <div class="accordion-heading">
                        <a class="accordion-toggle" href='#collapse-@question.Id' data-parent="#accordion" data-toggle="collapse">
                            
                            <strong>Вопрос @qindex : </strong><span>@question.QuestionText</span>
                            <br />

                        </a>
                    </div>
                    <!-- end heading -->
                    <!--Accordion body -->
                    <div id='collapse-@question.Id' class="accordion-body collapse">
                        <div class="accordion-inner">
                            
                            <strong>Варианты ответов:</strong>
                            <ol>
                                @foreach (var answer in question.Answers)
                                {
                                    <li>@answer.AnswerText @if (@answer.IsCorrect)
                                                            {
                                                                <span>(Правильный)</span>
                                                            }</li>
                
                                }
                            </ol>
                            <div class="btn btn-mini" name="editBtn" onclick='QuestionEdit("@question.Id")'>
                                Редактировать</div>
                            <div class="btn btn-mini inline" name="delBtn" onclick='QuestionRemove("@question.Id")'>
                                Удалить</div>

                        </div>
                    </div>
                    <!-- end accordion body -->
               @* </div>  *@
        
            </div>
                qindex++;
            
            
        }
    }

</div>

